# Disable checks for unrelated platform or projects: OSX and WebKit
# Disable readability-braces-around-statements because there are too many and introduces format issues
# Disable modernize-use-trailing-return-type because we prefix the old style for simple typenames
# Disable performance-avoid-endl because we don't care performance of logging
# Disable performance-enum-size because we don't care sizeof(enum)
# Disable llvm-header-guard because we use #pragma once

Checks: 'bugprone-*, readability-*, modernize-*, performance-*, concurrency-*, portability-*, misc-*,
cppcoreguidelines-*, cert-*, google-*, hicpp-*, llvm-*,
-readability-braces-around-statements, -google-readability-braces-around-statements, -hicpp-braces-around-statements,
-modernize-use-trailing-return-type,
-performance-avoid-endl,
-performance-enum-size,
-llvm-header-guard,
-clang-analyzer-core.CallAndMessage,
-clang-analyzer-optin.core.EnumCastOutOfRange,
-clang-analyzer-optin.cplusplus.UninitializedObject,
-clang-analyzer-security.ArrayBound,
-clang-analyzer-security.insecureAPI.strcpy,
-bugprone-assignment-in-if-condition,
-bugprone-easily-swappable-parameters,
-bugprone-empty-catch,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-incorrect-roundings,
-bugprone-macro-parentheses,
-bugprone-multiple-new-in-one-expression,
-bugprone-narrowing-conversions,
-bugprone-signed-char-misuse,
-bugprone-switch-missing-default-case,
-bugprone-undefined-memory-manipulation,
-bugprone-unhandled-exception-at-new,
-bugprone-unique-ptr-array-mismatch,
-readability-avoid-const-params-in-decls,
-readability-avoid-nested-conditional-operator,
-readability-avoid-unconditional-preprocessor-if,
-readability-container-data-pointer,
-readability-convert-member-functions-to-static,
-readability-enum-initial-value, cert-int09-c,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-inconsistent-declaration-parameter-name,
-readability-isolate-declaration,
-readability-magic-numbers, -cppcoreguidelines-avoid-magic-numbers,
-readability-make-member-function-const,
-readability-non-const-parameter,
-readability-simplify-boolean-expr,
-readability-delete-null-pointer,
-readability-suspicious-call-argument,
-modernize-avoid-bind,
-modernize-avoid-c-arrays, -hicpp-avoid-c-arrays,
-modernize-loop-convert,
-modernize-macro-to-enum, -cppcoreguidelines-macro-to-enum,
-modernize-return-braced-init-list,
-modernize-type-traits,
-modernize-use-default-member-init,
-modernize-use-nodiscard,
-portability-template-virtual-member-function,
-misc-const-correctness,
-misc-include-cleaner,
-misc-no-recursion,
-misc-non-private-member-variables-in-classes,
-misc-unused-parameters,
-misc-use-anonymous-namespace,
-misc-use-internal-linkage,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-const-or-ref-data-members,
-cppcoreguidelines-avoid-do-while,
-cppcoreguidelines-avoid-goto, -hicpp-avoid-goto,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-c-copy-assignment-signature,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-misleading-capture-default-by-value,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-prefer-member-initializer,
-cppcoreguidelines-slicing,
-cppcoreguidelines-special-member-functions, -hicpp-special-member-functions,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay, -hicpp-no-array-decay,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-cstyle-cast,
-cppcoreguidelines-pro-type-member-init, -hicpp-member-init,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-vararg, -hicpp-vararg,
-cert-err33-c,
-cert-err34-c,
-cert-err58-cpp,
-cert-err60-cpp,
-cert-msc30-c, -cert-msc50-cpp,
-cert-msc32-c, -cert-msc51-cpp,
-cert-oop54-cpp,
-cert-str34-c,
-google-default-arguments,
-google-global-names-in-headers,
-google-readability-casting,
-google-runtime-int,
'

CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  readability-redundant-member-init.IgnoreBaseInCopyConstructors: true
  misc-include-cleaner.IgnoreHeaders: asm-generic/.*
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
  hicpp-special-member-functions.AllowSoleDefaultDtor: true
