.idea
cmake-build-debug
project
cmake-build-debug-coverage
makefile
Makefile
libDolphinDBAPI.so
copytest
/vs
.vscode/
.clangd/
.cache
build/
CMakeFiles/
test/*example*.*
obj/
*.dll
test/*.dos
libtest/
report/coverage/*
bin/*
__pycache__
demo/bin
demo/lib
demo/build
